<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>834349787934-2a05o9f566u573k6prsr9frg4m97ja68.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834349787934-2a05o9f566u573k6prsr9frg4m97ja68</string>
	<key>API_KEY</key>
	<string>AIzaSyAcpU4cFTHhklp1HlN1cB_w9Fbx_w8H-tE</string>
	<key>GCM_SENDER_ID</key>
	<string>834349787934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hoiqoo.hoiqoo</string>
	<key>PROJECT_ID</key>
	<string>hoiqooo</string>
	<key>STORAGE_BUCKET</key>
	<string>hoiqooo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834349787934:ios:fc54868716fce04b9c370f</string>
</dict>
</plist>