<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>419055932139-82ig2mo6qq08rpd96eg406ja32c2qinq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.419055932139-82ig2mo6qq08rpd96eg406ja32c2qinq</string>
	<key>API_KEY</key>
	<string>AIzaSyDzLvo2KIhgh48-4gZk9F5wR1eYz8Xrgos</string>
	<key>GCM_SENDER_ID</key>
	<string>419055932139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hoiqoo.hoiqoo</string>
	<key>PROJECT_ID</key>
	<string>hoiqoo-e29a1</string>
	<key>STORAGE_BUCKET</key>
	<string>hoiqoo-e29a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419055932139:ios:1e6caf09754588c94aa4ae</string>
</dict>
</plist>